:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --img-size: 30px;
}

body {
  margin: 0;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  color: black;
  background-color: whitesmoke;
  overflow-x: hidden;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  align-self: center;
  font-family: monospace;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00a419;
  cursor: pointer;
  transition: all 0.25s;
  width: 300px;
}
button:not(.shopping-cart-payment-btn.invalid):hover {
  border-color: #646cff;
  background-color: #00db21;
  scale: 1.06;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.top-navbar{
  background-color: rgb(0, 102, 68);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  width: 100%;
  box-shadow: 5px 4px 5px rgb(0, 174, 116);
  z-index: 20;
  position: absolute;
}

.title{
  font-size: 2em;
  justify-self: start;
  padding-left: 10px;
  color: rgb(0, 0, 0);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-section{
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: end;
  margin-right: 7%;
}

.blur{
  transition: opacity 0.2s ease-in-out;
}

.cart-menu{
  width: 40vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: calc(-40vw + (var(--img-size) + 20px));
  transition: transform 0.2s ease-in-out;
  z-index: 20;
  padding-bottom: 30px;
}

.cart-menu.active{
  transform: translateX(calc(-40vw + (var(--img-size) + 20px)));
}

.cart-menu .menu-header{
  background-color: rgb(0, 102, 68);
  height: 3em;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-menu .menu-header img{
  width: var(--img-size);
  position: absolute;
  left: 10px;
  cursor: pointer;
}

.cart-menu .cart-body{
  width: 100%;
  height: calc(100% - 3em);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 10px;
  background-color: whitesmoke;
}

.cart-menu .cart-body .cart-products-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: min(50%, 300px);
  width: 60%;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  overflow-y: auto;
}

.cart-menu .cart-body .cart-products-container .product-details-from-cart{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 0;
}

.cart-menu .cart-body .cart-products-container .product-details-from-cart .delete-product-from-cart-btn{
  width: 50%;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff3434;
}

.shopping-cart-payment-btn{
  width: 20%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart-payment-btn.invalid{
    background-color: gray;
  cursor: initial;
}

.shopping-cart-payment-btn.valid{
  background-color: #00a419;
}